################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Warm/.vs/Warm/v15
/Warm/obj
/Warm/Models/obj
/Warm/DBRepository/obj
