################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Warm/.vs/Warm/v15
/Warm/obj
/Warm/Warm.Models/obj
/Warm/Warm.Models/bin/Debug/netstandard2.0
/Warm/Warm/bin/Debug/netcoreapp2.0
/Warm/Warm.Repository/bin/Debug/netstandard2.0
/Warm/Warm.Repository/obj
/Warm/Warm/obj
